In [1]:
import yorkpy
import yorkpy.analytics as yka
import pandas as pd
import numpy as np
import os

In [2]:
os.chdir('CSV_Dtsets/IPL/IPLT20-allMatchesAllOpposition')

In [3]:
os.getcwd()

'C:\\Users\\sachi\\Desktop\\YorkPy\\CSV_Dtsets\\IPL\\IPLT20-allMatchesAllOpposition'

In [5]:
file=os.listdir()[11]

In [6]:
rcb= pd.read_csv(file)
rcb.head()

C:\Users\sachi\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (28,29,30) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Unnamed: 0,delivery,batsman,bowler,extras_dict,non_striker,runs_dict,wicket_dict,wides,noballs,...,resultHow,resultTeam,non_boundary,ManOfMatch,overs,team1,team2,tossWinner,tossDecision,venue
0,0,0.1,JH Kallis,M Ntini,0,SP Goswami,"{'batsman': 0, 'extras': 0, 'total': 0}",0,0.0,0.0,...,0,0,0,A Kumble,20,Chennai Super Kings,Royal Challengers Bangalore,Royal Challengers Bangalore,bat,"MA Chidambaram Stadium, Chepauk"
1,1,0.2,JH Kallis,M Ntini,0,SP Goswami,"{'batsman': 1, 'extras': 0, 'total': 1}",0,0.0,0.0,...,0,0,0,A Kumble,20,Chennai Super Kings,Royal Challengers Bangalore,Royal Challengers Bangalore,bat,"MA Chidambaram Stadium, Chepauk"
2,2,0.3,SP Goswami,M Ntini,0,JH Kallis,"{'batsman': 0, 'extras': 0, 'total': 0}",0,0.0,0.0,...,0,0,0,A Kumble,20,Chennai Super Kings,Royal Challengers Bangalore,Royal Challengers Bangalore,bat,"MA Chidambaram Stadium, Chepauk"
3,3,0.4,SP Goswami,M Ntini,0,JH Kallis,"{'batsman': 0, 'extras': 0, 'total': 0}",0,0.0,0.0,...,0,0,0,A Kumble,20,Chennai Super Kings,Royal Challengers Bangalore,Royal Challengers Bangalore,bat,"MA Chidambaram Stadium, Chepauk"
4,4,0.5,SP Goswami,M Ntini,0,JH Kallis,"{'batsman': 1, 'extras': 0, 'total': 1}",0,0.0,0.0,...,0,0,0,A Kumble,20,Chennai Super Kings,Royal Challengers Bangalore,Royal Challengers Bangalore,bat,"MA Chidambaram Stadium, Chepauk"

In [22]:
yka.teamBatsmenPartnershiOppnAllMatches(rcb, 'Royal Challengers Bangalore', report="summary", top= 10)

            batsman  totalPartnershipRuns
109         V Kohli                5412.0
7    AB de Villiers                3724.0
18         CH Gayle                3163.0
41        JH Kallis                1132.0
81         R Dravid                 898.0
76         PA Patel                 731.0
67    Mandeep Singh                 597.0
105      TM Dilshan                 587.0
88       RV Uthappa                 549.0
53      LRPL Taylor                 517.0

In [32]:
# yka.teamBatsmenPartnershipOppnAllMatchesChart(rcb,'Royal Challengers Bangalore','Chennai Super Kings',plot=True,top=5,partnershipRuns=100)

In [39]:
print(yka.teamBatsmenVsBowlersOppnAllMatches(rcb, 'Royal Challengers Bangalore' ,'Chennai Super Kings', plot=False, top=10))

         batsman          bowler  runsScored
0        V Kohli  A Ashish Reddy        32.0
1        V Kohli      A Chandila        15.0
2        V Kohli      A Flintoff         1.0
3        V Kohli        A Mishra       158.0
4        V Kohli         A Nehra        60.0
..           ...             ...         ...
976  LRPL Taylor       VRV Singh        13.0
977  LRPL Taylor         Y Nagar        14.0
978  LRPL Taylor      YA Abdulla         7.0
979  LRPL Taylor    Yuvraj Singh         2.0
980  LRPL Taylor          Z Khan        13.0

[981 rows x 3 columns]

In [40]:
yka.teamBattingScorecardOppnAllMatches(rcb, 'Royal Challengers Bangalore' ,'Chennai Super Kings')

            batsman    runs  balls   4s   6s          SR
2           V Kohli  5412.0   4209  481  191  128.581611
17   AB de Villiers  3724.0   2390  306  199  155.815900
22         CH Gayle  3163.0   2170  249  239  145.760369
0         JH Kallis  1132.0   1054  128   21  107.400380
3          R Dravid   898.0    741   97   17  121.187584
..              ...     ...    ...  ...  ...         ...
107       KV Sharma     1.0      3    0    0   33.333333
96    KW Richardson     1.0      1    0    0  100.000000
27       RR Bhatkal     0.0      2    0    0    0.000000
100    Abdur Razzak     0.0      2    0    0    0.000000
61   P Parameswaran     0.0      2    0    0    0.000000

[119 rows x 6 columns]

In [41]:
yka.teamBowlingScorecardOppnAllMatches(rcb, 'Royal Challengers Bangalore' ,'Chennai Super Kings')

C:\Users\sachi\anaconda3\lib\site-packages\yorkpy\analytics.py:573: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['over']=df1.delivery.astype(int)
C:\Users\sachi\anaconda3\lib\site-packages\yorkpy\analytics.py:576: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['runsConceded']=df1['runs'] + df1['wides'] + df1['noballs']

              bowler  overs  runs  maidens  wicket   econrate
82   Harbhajan Singh     80   564        0      25   7.050000
4            A Nehra     51   391        0      24   7.666667
231   Sandeep Sharma     45   342        0      23   7.600000
187        RA Jadeja     65   473        0      21   7.276923
102        JJ Bumrah     51   382        0      20   7.490196
..               ...    ...   ...      ...     ...        ...
203        S Kaushik      6    86        0       0  14.333333
1         A Chandila     12    89        0       0   7.416667
19        AL Menaria      2    16        0       0   8.000000
200         S Dhawan      1    11        0       0  11.000000
160         NB Singh      2     8        0       0   4.000000

[263 rows x 6 columns]

In [49]:
yka.teamBowlingWicketKindOppositionAllMatches(rcb, 'Royal Challengers Bangalore' ,'Chennai Super Kings', plot= False, top= 15)

             bowler               kind  wickets
0   Harbhajan Singh             bowled        6
1   Harbhajan Singh             caught        8
2   Harbhajan Singh  caught and bowled        2
3   Harbhajan Singh         hit wicket        1
4   Harbhajan Singh            run out        2
5   Harbhajan Singh            stumped        6
6           A Nehra             bowled        6
7           A Nehra             caught       16
8           A Nehra                lbw        1
9           A Nehra            run out        1
10   Sandeep Sharma             bowled        5
11   Sandeep Sharma             caught       15
12   Sandeep Sharma                lbw        1
13   Sandeep Sharma            run out        2
14        RA Jadeja             bowled        4
15        RA Jadeja             caught       12
16        RA Jadeja  caught and bowled        1
17        RA Jadeja                lbw        2
18        RA Jadeja            run out        1
19        RA Jadeja            stumped        1
20        JJ Bumrah             bowled        3
21        JJ Bumrah             caught       11
22        JJ Bumrah                lbw        2
23        JJ Bumrah            run out        4
24         DJ Bravo             caught       13
25         DJ Bravo  caught and bowled        1
26         DJ Bravo            run out        5
27        PP Chawla             bowled        6
28        PP Chawla             caught        7
29        PP Chawla  caught and bowled        1
30        PP Chawla                lbw        4
31        PP Chawla            stumped        1
32         L Balaji             bowled        6
33         L Balaji             caught       10
34         L Balaji            run out        2
35          B Kumar             bowled        7
36          B Kumar             caught        6
37          B Kumar                lbw        1
38          B Kumar            run out        2
39        SP Narine             bowled        6
40        SP Narine             caught        6
41        SP Narine                lbw        3
42        SP Narine            stumped        1
43      DS Kulkarni             bowled        4
44      DS Kulkarni             caught       10
45      DS Kulkarni  caught and bowled        1
46        JA Morkel             bowled        5
47        JA Morkel             caught        6
48        JA Morkel                lbw        4
49         R Ashwin             bowled        4
50         R Ashwin             caught        6
51         R Ashwin  caught and bowled        1
52         R Ashwin                lbw        2
53         R Ashwin            stumped        2
54       SL Malinga             bowled        5
55       SL Malinga             caught        9
56       SL Malinga            run out        1
57         A Mishra             bowled        3
58         A Mishra             caught       10
59         A Mishra                lbw        2

In [58]:
yka.teamBowlersVsBatsmenOppnAllMatches(rcb,'Royal Challengers Bangalore' ,'Chennai Super Kings',plot=False,top=5)

              bowler          batsman  runsConceded
0    Harbhajan Singh         A Kumble           1.0
1    Harbhajan Singh   AB de Villiers          85.0
2    Harbhajan Singh          B Akhil           2.0
3    Harbhajan Singh  C de Grandhomme           6.0
4    Harbhajan Singh         CH Gayle          67.0
..               ...              ...           ...
184       SL Malinga          TM Head           1.0
185       SL Malinga         UT Yadav           0.0
186       SL Malinga          V Kohli          34.0
187       SL Malinga         VR Aaron           1.0
188       SL Malinga           Z Khan           1.0

[189 rows x 3 columns]